@import url("https://fonts.googleapis.com/css?family=Anton|Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
}

a {
  color: #6878ff;
}

h1,
h2,
h3 {
  font-family: "Anton", sans-serif;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

h4 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 20px;
}

hr {
  margin-bottom: 1em;
}

.hero-title {
  font-size: 4em;
  max-width: 500px;
  text-transform: uppercase;
  box-shadow: 0px 10px 0 rgba(104, 120, 255, 1);
  padding-bottom: 0.5em;
  margin-top: 1em;
}

.hero-tag {
  margin-top: 2em;
  font-size: 1.2em;
  max-width: 500px;
}

a.btn {
  cursor: pointer;
}

.hero-title strong {
  color: #6878ff;
}

.hero-img {
  width: 100%;
  max-width: 400px;
  margin-left: 4em;
}

@media screen and (max-width: 800px) {
  .hero-img {
    display: none;
  }
}


.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section {
  min-height: 500px;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 2em;
  flex-direction: column;
}

iframe {
  width: 100%;
  height: 100%;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

section .content--center {
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.content--center p {
  padding: 1em;
  max-width: 600px;
}

@media screen and (min-width: 750px) {
  .content {
    flex-direction: row;
    padding: 4em 0;
  }

  .section--hero .content {
    padding: 9em 0 4em 0;
  }
}

.section--dark {
  background-color: #383b53;
  color: #fff;
}

.section--dark p {
  color: rgba(255, 255, 255, 0.5);
}

.section--color {
  background-color: #6878ff;
  color: #fff;
}

.section--color ul {
  width: 100%;
}

.section--color ul h1 {
  border-bottom: 6px solid #fff;
  padding-bottom: 20px;
}

.section--color ul li {
  margin-bottom: 4em;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

@media screen and (min-width: 750px) {
  .section--color ul li {
    flex-direction: row;
  }
}

.section--color ul li p {
  max-width: 500px;
}

.section--color ul li img {
  max-width: 250px;
}

.section--color a {
  color: #bdc4ff;
  font-weight: bold;
}

.section--color .btn {
  color: #6878ff;
}

.f-1 {
  flex: 1;
}

header {
  border-bottom: 1px solid #6878ff;
  background-color: #fff;
  position: fixed;
  width: 100%;
}

.text-cont {
  padding: 2em;
  flex: 1;
}

p {
  margin-bottom: 1em;
  line-height: 1.5em;
}

.main-nav {
  text-transform: uppercase;
}

.main-nav li {
  margin: 0 1em;
  letter-spacing: 2px;
  font-size: 12px;
}

.main-nav a {
  text-decoration: none;
  color: #383b53;
}

.main-nav a:hover {
  color: #6878ff;
}

.img-link-container {
  max-width: 500px;
}

.img-link-container img {
  width: 100%;
  max-width: 100%;
}

.content-img--full {
  max-width: 350px;
  /* width: 100%; */
  margin-bottom: 1em;
}

@media screen and (min-width: 750px) {
  .content-img--full {
    margin-right: 2em;
  }
}

.product-list li {
  display: flex;
  align-items: center;
  margin-bottom: 4em;
  flex-direction: column;
}

.content--shirt {
  margin-top: 1em;
  max-width: 350px;
}

@media screen and (min-width: 750px) {
  .product-list li {
    flex-direction: row;
  }

  .content--shirt {
    max-width: 100%;
    margin-top: 0;
  }
}

.product-list li h2 {
  font-size: 2em;
}

.product-list li h3 {
  color: #6878ff;
  margin-bottom: 0.5em;
  margin-top: 0.1em;
  font-size: 1.5em;
}

.mt-1 {
  margin-top: 1em;
}

.btn {
  background-color: #6878ff;
  color: #fff;
  text-decoration: none;
  padding: 17px 21px 17px 21px;
  border-radius: 5px;
  font-weight: normal;
  font-size: 16px;
  display: inline-block;
  transition: all linear 0.1s;
  cursor: pointer;
}

.btn:hover {
  background-color: #4a59d3;
}

.btn--lte {
  background-color: #fff;
  color: #6878ff;
}

.btn--lte:hover {
  background-color: #dadeff;
}

footer {
  background-color: #383b53;
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer--credits {
  display: flex;
}

.footer--credits li {
  margin: 0 5px;
}

.nav--social {
  display: flex;
}

.nav--social li {
  margin-right: 20px;
}

.nav--social li img {
  max-width: 20px;
}

.link-email {
  max-width: 20px;
}

.link-container a {
  margin-right: 10px;
  text-decoration: none;
}

/* .hero-img--container {
  position: relative;
  max-width: 100px;
}

.hero-img {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 100%;
} */

article img {
  max-width: 500px;
  border-radius: 10px;
  margin: 10px 30px;
}

article {
  clear: both;
}

.img-small {
  max-width: 300px;
}

article p {
  font-size: 1.2em;
}

.push-left {
  float: left;
  margin-left: 0px;
  clear: right;
}

.push-right {
  float: right;
  margin-right: 0px;
  clear: left;
}

@media screen and (max-width: 750px) {
  .push-left {
    float: none;
  }

  .push-right {
    float: none;
  }

  article img {
    width: 100%;
    max-width: 100%;
    padding: 0px;
    margin: 1em 0;
  }

  .img-small {
    width: 100%;
    max-width: 100%;
  }
}

.main-title {
  margin-top: 2em;
}